*
{
	margin: 0;
	padding: 0;
}
html, body
{
	height: 100%;
}
#Web-Contents
{
	min-height: 100%;
}
p:empty
{
	height: 75px;
}
.ImageOfPageUnderConstruction
{
	display: block;
	height: 240pt;
	margin: 0% 25%;
	margin-top: 5%;
	width: 50%;
}
#ImageOfInventoryControl
{
	display: block;
	height: 200pt;
	margin: 0% 25%;
	margin-top: 5%;
	width: 50%;
}
.DivCenter 
{
	margin: auto;
	margin-bottom: 5%;
	width: 50%;
	overflow: auto;
	padding-bottom:100px;
}
#SearchForInventory
{
	border-color: rgb(15, 111, 167);
	border-radius: 9px;
	/*display: block;*/
	display: inline-block;
	font-size: 17px;
	margin: auto;
	width: 70%;
	height: 27px;
}
#SearchInventoryButton 
{
	background-color: rgb(15, 111, 167); /* cornflowerblue */
	border: none;
	border-radius: 12px;
	color: white;
	padding: 10px 10px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	width: 20%;
}